@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .animation {
    @apply transition-all ease-out duration-200;
  }
}

.BS {
  box-shadow: rgba(227, 95, 33, 0.35) 0px 0px 20px;
}

.BS1 {
  box-shadow: rgba(227, 95, 33, 0.35) 0px 0px 35px;
}

.wmde-markdown-var.w-md-editor.w-md-editor-show-live {
  background: black !important;
}

.w-md-editor-toolbar {
  background: #000 !important;
}

.wmde-markdown.wmde-markdown-color.w-md-editor-preview {
  background: #000 !important;
}

.wmde-markdown.wmde-markdown-color {
  background: #000 !important;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 80px;
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  font-size: 12px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media screen and (max-width: 640px) {
  .w-md-editor-toolbar ul:nth-child(2) {
    display: none !important;
  }
  .wmde-markdown.wmde-markdown-color.w-md-editor-preview {
    display: none !important;
  }
  .w-md-editor-input {
    width: 100% !important;
  }
}

/* ...or add this class to an element */
.polka {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.3) 16.4%,
    transparent 21.2%
  );
  background-position: 12px 12px;
  background-size: 24px 24px;
  background-color: rgb(0, 0, 0);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #444;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
